{% extends "home/index.html" %}
{% load widget_tweaks %}

{% block title %}
    | Login
{% endblock %}

{% block content %}

<div class="login-form-wrapper">
  <form class="row g-3" action="{% url 'home:login' %}" method="post">
    {% csrf_token %}

    <p class="fs-3 text-uppercase">sign in</p>

      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{error}}</div>
      {% endfor %}

      {% for field in form %}
      <!-- Input -->
      <div class="col-12">
        {% if field.errors %}

          {% render_field field class="form-control text-center is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">{{error}}</div>
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
    <div class="col-12">
    <!-- username input -->
      {% render_field form.username class="form-control" placeholder="username" %}
    </div>

    <div class="col-12">
    <!-- password input -->
      {% render_field form.password class="form-control" placeholder="password" %}
    </div>




      <!-- Login button -->
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">LOG IN</button>
    </div>

      <hr>

      <!-- Register -->
      <p class="center" >If you do not have an account, <a href="{% url 'home:register' %}"><strong>SIGN UP</strong></a> first</p>

</div>

{% endblock %}